<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.protego">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.FLASHLIGHT" />
    <uses-permission
        android:name="android.hardware.camera"
        android:required="false" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Protego.NoActionBar"
        android:usesCleartextTraffic="true">

        <activity
            android:name=".DoctorViewPatientVitals"
            android:exported="false" />
        <activity
            android:name=".DoctorViewPatientProfile"
            android:exported="false" />
        <activity
            android:name=".DoctorViewPatientNotes"
            android:exported="false" />
        <activity
            android:name=".DoctorViewPatientMedication"
            android:exported="false" />
        <activity
            android:name=".DoctorViewPatientSelections"
            android:exported="false" />
        <activity
            android:name=".PatientProfileActivity"
            android:exported="true" />
        <activity
            android:name=".PatientEditProfileActivity"
            android:exported="true" />
        <activity
            android:name=".ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".PatientViewDoctorsActivity"
            android:exported="false" />
        <activity
            android:name=".PatientUpdateDataActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorScanQRCodeActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorViewPatientsActivity"
            android:exported="false"
            android:theme="@style/Theme.Protego.NoActionBar">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

        </activity>
        <activity
            android:name=".DoctorEditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".DoctorProfileActivity"
            android:exported="false"
            android:label="@string/title_activity_doctor_profile"
            android:theme="@style/Theme.Protego.NoActionBar.NoActionBar" />
        <activity
            android:name=".DoctorDashboardActivity"
            android:exported="false"
            android:theme="@style/Theme.Protego.NoActionBar">

            <!--
            <intent-filter>
                    <action android:name="android.intent.action.MAIN" />

                    <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity
            android:name=".SplashScreenActivity"
            android:exported="true"
            android:label="@string/splash_activity"
            android:theme="@style/Theme.Protego.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".PatientDashboardActivity"
            android:exported="true" />
        <activity
            android:name=".PatientNotesActivity"
            android:exported="false" />
        <activity
            android:name=".PatientMedicationActivity"
            android:exported="false" />
        <activity
            android:name=".PatientQRCodeDisplay"
            android:exported="true" />
        <activity
            android:name=".PatientVitals"
            android:exported="false" />
        <activity
            android:name=".PatientOnboardingActivity"
            android:exported="false">
        </activity>

        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Protego.NoActionBar" />
        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Protego.NoActionBar" />
        <activity
            android:name=".PatientViewNotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".PatientViewDoctorProfile"
            android:exported="false" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <receiver android:name=".AlarmReceiver"/>
    </application>

</manifest>