<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.protego">

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Protego">

        <activity
            android:name=".SplashScreenActivity"
            android:label="@string/splash_activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:exported="false"
            android:label="@string/title_activity_login"
            android:theme="@style/Theme.Protego">

        </activity>

        <activity
            android:name=".SignupActivity"
            android:exported="false"
            android:label="@string/title_activity_signup"
            android:theme="@style/Theme.Protego" />


<!--        <activity-->
<!--            android:name=".MainActivity"-->
<!--            android:exported="false"-->
<!--            android:label="@string/app_name"-->
<!--            android:theme="@style/Theme.Protego.NoActionBar">-->
<!--&lt;!&ndash;            <intent-filter>&ndash;&gt;-->
<!--&lt;!&ndash;                <action android:name="android.intent.action.MAIN" />&ndash;&gt;-->

<!--&lt;!&ndash;                <category android:name="android.intent.category.LAUNCHER" />&ndash;&gt;-->
<!--&lt;!&ndash;            </intent-filter>&ndash;&gt;-->
<!--        </activity>-->
    </application>

</manifest>